form ul {
    padding: 0px 0px;
}

form ul li {
    margin: auto 25%;
    display: block;
}

[type~="submit"] {
    width: 75px;
    height: 25px;
    border: 0;
    background-color: #A00200;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

[type~="submit"]:hover {
    width: 75px;
    height: 25px;
    color: #A00200;
    background-color: #fff;
    border: 2px #A00200 solid;
}

form ul li input {
    margin: 8px 0;
    display: inline-block;
    background-color: #a0906c;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form ul li input:focus {
    border: 3px solid #555;
}

form ul li label {
    float: left;
    width: 10em;
    margin-right: 1em;
}